name: Build ShadowMaster

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # يسمح لك بتشغيل البناء يدوياً

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install XcodeGen
        run: brew install xcodegen

      - name: Generate Xcode Project
        run: xcodegen generate

      - name: Build Dynamic Library
        run: |
          xcodebuild -project ShadowMasterProject.xcodeproj \
          -scheme ShadowMaster \
          -configuration Release \
          -sdk iphoneos \
          build \
          CODE_SIGNING_ALLOWED=NO
