name: ShadowMasterProject
options:
  bundleIdPrefix: com.shadow.v11
targets:
  ShadowMaster:
    type: library.dynamic
    platform: iOS
    deploymentTarget: "14.0"
    sources:
      - path: "SHADOW MASTER v11.m"
    frameworks:
      - framework: Foundation.framework
      - framework: CoreML.framework
      - framework: Security.framework
      - framework: UIKit.framework
    settings:
      ENABLE_BITCODE: NO
      # إعدادات الربط المتقدمة لمنع الكراش عند استخدام mmap و shellcode
      OTHER_LDFLAGS: $(inherited) -undefined dynamic_lookup -all_load
      GCC_DYNAMIC_NO_PIC: NO
      PRODUCT_NAME: ShadowMaster
      CLANG_ALLOW_NON_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES: YES
      GCC_PREPROCESSOR_DEFINITIONS: 
        - DEBUG=1
        - NON_JAILBREAK=1
